body {

    background-color: lightgreen;
}
.searchForm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
    flex-basis: auto;
    color: darkorchid;
}
